@import 'tailwindcss';
@import '../public/Fonts/fonts.css';

*{
    font-family: 'Clash Display';
}
@keyframes slidein {
  from {
    transform: translateX(100%); 
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slidein {
  animation: slidein 0.4s ease-out;
}
