@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

main {
    height: 100%;
    width: 100%;
    background-color: #f4f7f6;
}

#authPage {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loginAuth {
    height: 48%;
    width: 28%;
    background-color: white;
    padding: 30px 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(152, 151, 151, 0.178);
    display: none;
}

.formFormat {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.formFormat h1 {
    font-size: 1.7rem;
    text-align: center;
}

.greetTitle {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.greetTitle img {
    max-width: 25px;
}

#username,
#password,
#loginBtn,
#Rusername,
#Rpassword,
#registerBtn {
    padding: 8px 20px;
    border-radius: 5px;
    border: 1px solid rgba(126, 125, 125, 0.427)
}

#loginBtn {
    background-color: #0056b3;
    color: white;
    border: none;
    margin-top: 5px;
    font-size: 1rem;
}

#loginBtn:hover {
    background-color: #026ad8;
}

#loginBtn:active {
    transform: scale(0.98);
}

.logRes {
    color: #0056b3;
    cursor: pointer;
}

.logRes:hover {
    color: #007bff;
}

#registerBtn {
    background-color: #28a745;
    color: white;
    border: none;
    margin-top: 5px;
    font-size: 1rem;
}

#registerBtn:hover {
    background-color: #23c147;
}

#registerBtn:active {
    transform: scale(0.98);
}

#registerAuth {
    height: 48%;
    width: 28%;
    background-color: white;
    padding: 30px 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(152, 151, 151, 0.178);
    /* display: none; */
}


#tracker {
    height: 100%;
    width: 100%;
    background-color: #f8f9fb;
    display: flex;
}

aside {
    height: 100%;
    width: 18%;
    background-color: white;
    border-right: 1px solid rgba(181, 180, 180, 0.361);
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#dash_set {
    display: flex;
    flex-direction: column;
    margin-top: 2vw;
    gap: 10px;
}

#dashBtn {
    padding: 10px 20px;
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    color: #1e40af;
    background-color: #dbeafe;
    border-radius: 10px;
}



#settingBtn {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    color: grey;
    border-radius: 10px;
}

#dashBtn:hover {
    color: #1e40af;
    background-color: #dbeafe;
}

#settingBtn:hover {
    color: #1e40af;
    background-color: #dbeafe;
}

#dash_set h1 {
    font-size: 1rem;
    font-weight: 700;
}

#addTransaction {
    padding: 12px 50px;
    border: none;
    background-color: black;
    color: white;
    font-size: 0.9;
    font-weight: 700;
    border-radius: 10px;
    cursor: pointer;
}

#addTransaction i {
    font-size: 1rem;
    font-weight: 400;
}

#dashboard {
    min-height: 100%;
    width: 85%;
}

nav {
    width: 100%;
    padding: 15px 20px;
    background-color: white;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1px solid rgba(181, 180, 180, 0.361);
}

nav p {
    font-size: 1rem;
    font-weight: 600;
    padding: 0 20px;
    border-left: 1px solid rgba(128, 128, 128, 0.379);
}

nav button {
    padding: 6px 20px;
    border: 1px solid rgba(48, 48, 48, 0.354);
    background-color: white;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

#hero-section {
    min-height: 100%;
    padding: 30px;
    background-color: #f4f7f6;
}

#grid-part {
    min-height: 80vh;
    width: 100%;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 0.8fr 0.2fr 1fr;
    grid-template-rows: repeat(4, 0.5fr);
    grid-template-areas:
        "first second third third forth"
        "big big big ddark ddark"
        "big big big . ."
        "list list list . .";
    gap: 20px;

}

#first {
    /* background-color: #007bff; */
    grid-area: first;
    border-radius: 10px;
}

#second {
    /* background-color: grey; */
    grid-area: second;
    border-radius: 10px;
}

#third {
    /* background-color: #28a745; */
    grid-area: third;
    border-radius: 10px;
}

#forth {
    /* background-color: red; */
    grid-area: forth;
    border-radius: 10px;
}

#big {
    background-color: black;
    grid-area: big;
    border-radius: 10px;
}

#dark {
    background-color: purple;
    grid-area: ddark;
    border-radius: 10px;
}

#list {
    background-color: yellow;
    grid-area: list;
    border-radius: 10px;
}

.status {
    border: 1px solid rgba(181, 180, 180, 0.361);
    background-color: white;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
}

.status .icons {
    height: 35px;
    width: 35px;
    border-radius: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.status .icons i {
    font-size: 1.3rem;
}

.status h1 {
    font-size: 1.6rem;
    line-height: 0.8;
}