@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Betania+Patmos+In+GDL&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.betania-patmos-in-gdl-regular {
  font-family: "Betania Patmos In GDL", cursive;
  font-weight: 400;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ddd;
}

@font-face {
  font-family: "Avenir Next Cyr";
  src: url("https://vault.hyperiux.com/assets/fonts/AvenirNextCyr-Medium.woff2")
    format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

.avenir {
  font-family: "Avenir Next Cyr", sans-serif;
}

*{
  user-select: none;
}